<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto NodeJS e MySQL2</title>

    {{!-- Referenciando o Bootstrap--}}
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">

    {{!-- Referenciando a pasta do css--}}
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    {{{body}}}
</body>
</html>